@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: oklch(47% 0.18 264);       /* Classic blue (Windows 95-ish) */
    --color-secondary: oklch(47% 0.09 234);     /* Muted navy for contrast */
    --color-accent: oklch(70% 0.25 40);         /* SQL orange - vibrant but soft */
    --color-accent-dark: oklch(55% 0.19 35);    /* Deeper orange for hover/active */
    --color-accent-alt: oklch(62% 0.20 310);    /* PHP violet - cool alt accent */
    --color-bg-main: oklch(92% 0.01 260);       /* Light grey background */
    --color-bg-light: oklch(97% 0.005 260);     /* Even lighter gray - almost white */
    --color-text: oklch(20% 0 0);               /* Default text - near black */
    --color-muted: oklch(50% 0.03 260);         /* Muted for subtext, labels */
    --font-inter: 'Inter', 'sans-serif';
    --font-space-grotesk: 'Space Grotesk', 'sans-serif';
    --font-fira-code: 'Fira Code', 'serif';
    --text-2xs: 0.625rem;

    --animate-slide-in-left: slide-in-left 0.5s ease-in-out;
    @keyframes slide-in-left {
        0% {
            transform: translateX(-100%); /* Start off the screen to the left */
            opacity: 0; /* Optional: Fade in */
          }
          100% {
            transform: translateX(0); /* End at its original position */
            opacity: 1;
          }
    }

    --animate-slide-in-right: slide-in-right 0.5s ease-in-out;
    @keyframes slide-in-right {
        0% {
            transform: translateX(200%); /* Start off the screen to the left */
            opacity: 0; /* Optional: Fade in */
          }
          100% {
            transform: translateX(0); /* End at its original position */
            opacity: 1;
          }
    }
}
